body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(Img/imp/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(Img/imp/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px); /* Adjust the blur intensity as needed */
  z-index: 1;
}

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7); /* Transparent form background */
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  z-index: 2;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(72, 1, 72);
}

#errorMessage {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
